# Use PHP5 Single php.ini as default
AddHandler application/x-httpd-php5s .php
DirectoryIndex home.php index.php home.html index.html home.htm index.htm default.htm

ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500

# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks 
Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^user/(.*)$ /usr/profile.php?username=$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php